   body {
      width: 100%;
      margin: 0;
      padding: 0;
      line-height : 12pt;
      text-align: justify;
      font-size : 10pt;
   }
   
   .bigfont {
      line-height : 18pt;
      font-size : 14pt;
    }

    #split {
    -mo-column-count: 2;
    -weskit-column-count: 2;
    column-count: 2;
    page-break-inside: avoid;
    line-height : 12pt;
    }

    OL.exer {
    -mo-column-count: 2;
    -weskit-column-count: 2;
    column-count: 2;
    }

   a:link, a:visited {   color: black; text-decoration: none; }

   @page {
      margin: 0.5in;
      }

   footer {
    display : none;
   }

  .content-block, p {
    page-break-inside: avoid;
  }
  
   h1 {
    page-break-before: always; 
    line-height : 48pt;
    background: none;
    border-bottom: 1px solid #cccccc;
   }
   
   h1, h2 {
    page-break-after: avoid;
    margin-top: 60pt;
    line-height : 36pt;
    background: transparent;
    border: none;
    padding: 4px;
    }

   h3 { 
    page-break-after: avoid;
    line-height : 24pt;
    margin-top: 60px;
    }
    
   .preface {
    page-break-before: avoid important!;
    font-variant: normal;
    } 
    
   h4 {
   page-break-after: avoid;
   line-height : 24pt;
   }
   
   figure, lu, img alg {
   page-break-inside: avoid;
    }

    LO, LU, li {
        margin-left: 0;
        padding-left: 0;
        list-style-position: inside;
        }
        
    .break{
    page-break-after: always;
    }

div.header {
   display: none;
}
h1 {
    font-size: 10pt;
    height: 24px;
}

OL.body li {
    background: transparent;
    page-break-after: avoid;
    page-break-before: always;
    }

OL.chapter li {
    list-style-type:upper-alpha;
    border-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
    background: white;
    font-weight: bold;
    padding: 0px;
    height: 16px;
    margin-top: 0px;
    font-size: 10pt;
    }

OL.chaplist li {
    list-style-type:upper-alpha;
    border-bottom: 0px;
    margin-left: 0px;
    margin-right: 12px;
    background: white;
    font-weight: bold;
    padding: 0px;
    height: 0px;
    margin-top: 0px;
    font-size: 10pt;
    }

OL.steps li {
    page-break-before: avoid;
    }
dd  {
        margin-right: 12px;
        margin-left: 0px;
        margin-bottom: 4px;
        }


details {
    open : TRUE;
    }
details.aside {
    width : 100%;
    float: none;
    background: LightGray;
    color: black;    
    }
