a:link
{	color: black; text-decoration: underline;
}
a:visited
{	color: black; text-decoration: underline;
}
a:active
{	color: black; text-decoration: underline;
}
a:hover
{	color: #006B63; text-decoration: underline;
}
body
{	background: #FAFAF0 url("greenshade.png") repeat-x;
	color: black;
	font-size: 10pt;
	font-family: Arial, Helvetica, Sans-Serif;
}
p, dl
{	font-size: 10pt;
	font-family: Arial, Helvetica, Sans-Serif;
}
.footnote
{	font-size: 9pt;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: oblique;
}
dl xmp
{	font-size: 11pt;
	font-family: monospace;
}
big
{	font-size: 12pt;
}
tt
{	font-family: monospace;
	font-size: 11pt;
}	
h2 tt
{	font-family: monospace;
	font-size: 15pt;
}	
h3 tt
{	font-family: monospace;
	font-size: 13pt;
}	
small, sub, sup
{	font-size: 8.5pt;
}
.small
{	font-size: 8.5pt;
}
td, th
{	font-size: 10pt;
	text-align: left;
	font-family: Arial, Helvetica, Sans-Serif;
	padding: 2px;
}
ul
{
	list-style-image: url(item1.png);
	list-style-type: disc;
	font-size: 10pt;
	font-family: Arial, Helvetica, Sans-Serif;
}
ul ul
{
	list-style-image: url(item2.png);
	list-style-type: square;
}
ol
{
	list-style-image: none;
	list-style-type: decimal;
	font-size: 10pt;
	font-family: Arial, Helvetica, Sans-Serif;
}
ol ol
{
	list-style-image: none;
	list-style-type: lower-alpha;
}
th
{	font-weight: bold; 
}
.center
{	text-align: center;
}
.green
{	color: #006B63;
}
.black
{	color: black;
}
b
{	font-weight: bold; 
}
h1
{	font-size: 150%;
	font-weight: bold; 
	font-family: Arial, Helvetica, Sans-Serif;
	background-color: #98C9CA;
	border: 3px solid #606060;
	padding: 2px;
	margin: 0px;
	width: 100%;
}
h2
{	font-size: 130%;
	font-weight: bold; 
	font-family: Arial, Helvetica, Sans-Serif;
	background-color: #98C9CA;
	color: black;
	border: 1px solid #808080;
	padding: 2px;
	margin: 0px;
	width: 100%;
}
h3
{	font-size: 110%;
	font-weight: bold; 
	font-family: Arial, Helvetica, Sans-Serif;
	background-color: #D0D0D0;
	color: black;
	border: 1px solid #808080;
	padding: 2px;
	margin: 0px;
	width: 100%;
}
h3.fig
{	font-size: 110%;
	font-weight: bold; 
	font-family: Arial, Helvetica, Sans-Serif;
	background-color: #FAFAF0;
	color: black;
	text-align: center;
}
h4
{	font-size: 110%;
	font-weight: bold; 
	font-family: Arial, Helvetica, Sans-Serif;
}
h2 a:link
{	color: black; text-decoration: none;
}
h3 a:link
{	color: black; text-decoration: none;
}
table.eq
{	padding: 0px;
	margin: 0px;
}
table.eq tr
{	padding: 0px;
	margin: 0px;
}
table.eq td
{	padding: 0px;
	margin: 0px;
}
.o
{	text-decoration: underline overline; /* NS4 doesn't do overline */
}
table.frac
{	padding: 0px;
	border: 0px;
}
table.frac tr
{	padding: 0px;
	border: 0px;
}
table.frac hr
{	height: 1px;
}
table.frac td
{	padding: 0px;
	border: 0px;
	text-align: center;
}
